@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #5d5956;
}

table{
  border-collapse: collapse;
  width: 85%;
  text-align: left;
  height: 600px;

}

td{
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  padding: 10px;
  width: 200px;

}

tr{
  border: none;

}

header {
  position: relative;
  font-size: 3em;
  text-align: left;
  letter-spacing: 7px;
  padding: 100px;
}